# Librerie per il machine learning e l'intelligenza artificiale
torch
torchvision
transformers
sentencepiece
protobuf
opencv-python
datasets
diffusers

# cpu
accelerate

# Elaborazione di immagini
Pillow

# Elaborazione di testo e NLP
nltk
spacy

# Librerie per la manipolazione dei file DOCX
python-docx
docx2pdf

# Librerie per la manipolazione dei file
numpy
pandas

# OCR (Riconoscimento ottico dei caratteri)
pytesseract

# Librerie per la manipolazione dei file PDF
PyPDF2
pdf2image
reportlab
pdfplumber

# Librerie per la manipolazione dei file xlsx
openpyxl

# Librerie per la gestione degli audio
librosa
soundfile
pydub
TTS

# Test e validazione
pytest

# Utilità varie
scikit-learn
tqdm

# Librerie per Docker
docker
