# Librerie per il machine learning e l'intelligenza artificiale
torch
torchvision
transformers
sentencepiece
protobuf
opencv-python
datasets

# Elaborazione di immagini
Pillow

# Elaborazione di testo e NLP
nltk
spacy
python-docx
openpyxl

# Librerie per la manipolazione dei file
numpy
pandas

# OCR (Riconoscimento ottico dei caratteri)
pytesseract

# Librerie per la manipolazione dei file PDF
PyPDF2
pdf2image
reportlab

# Librerie per la gestione degli audio
librosa
soundfile
pydub

# Test e validazione
pytest

# Utilità varie
scikit-learn
tqdm

# Librerie per Docker
docker
